{% extends "base.html.twig" %}

{% block stylesheets %}
<link href="{{ asset('style/landing-page.css') }}" rel="stylesheet" />
{% endblock stylesheets %}

{% block body %}

{% if not app.user %}


<div class="bgimage">
    <div class="opacity">
        <div class="container">
            <div class="row justify-content-center">
                <h1 class="text-center" id="home-heading">Vélo'Commerce</h1>
            </div>
            <div class="row justify-content-center mt-5">
                <div class="col-6" id="margin">
                    <h5 class="text-white text-center mt-5" id="join"><strong>Wanna join? Sign Up Here !</strong></h5>
                    <br>
                    <div class="row justify-content-center">
                        <a href="{{ path('register')}}"><button class="btn" id="home-button">Sign Up</button></a>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
<div class="container">

</div>
{% endif %}

{% endblock body %}