{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('style/home.css')}}" <link href="https://fonts.googleapis.com/css?family=Wallpoet"
    rel="stylesheet">
{% endblock stylesheets %}
{% block body %}

<div class="container-fluid">

    <div class="row">

        <div class="col-lg-8 center-block" id="box">

            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" id="slide"
                            src="https://surlybikes.com/uploads/bikes/_medium_image/Straggler_BK7804.jpg"
                            alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" id="slide"
                            src="https://surlybikes.com/uploads/bikes/_medium_image/ICT_BK0166.jpg" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" id="slide"
                            src="https://surlybikes.com/uploads/bikes/_medium_image/BigEasy_BK3781.jpg"
                            alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-md-3" id="text">
            "How Much Do You Want Her?"
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 center-block" id="box">

        </div>

    </div>
</div>

{% endblock %}