{% extends "base.html.twig" %}

{% block body %}

{% for result in resultList %}
<div class="col-2">
    <div class="card">
        <div class="card-body">
            <img class="card-img-top" src="{{result.imageURL}}" alt="Card image cap">
            <h5 class="card-title">{{result.type}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{result.price}}</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <h6 class="card-subtitle mb-2 text-muted">{{result.model}}</h6>
            <a href="{{path('one_article', {id:result.id})}}" class="card-link">More</a>
        </div>
    </div>
</div>
{% endfor %}

{% endblock body %}