
    #box {
        margin-bottom: 35px;
    }

    #text {
        margin-top: 40px;
        margin-left: 45px;
        padding-top: 30px;
        height: 470px;
        color: black;
        background-color: white;
        text-align: center;
        font-family: 'Wallpoet', cursive;
        font-size: 55px;
    }
