.bgimage {
    background: url("../images/bg-e-commerce2.jpeg"); 
    background-size: cover;
    height: 92vh;
    background-repeat: no-repeat;
    z-index: -100;
    
}

#home-heading {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 4em;
    color: white;
    margin-top: 2vh;
    position: absolute;
   
}

.opacity {
    background-color: rgba(0,0,0,0.5);
    height: 92vh;
    
}

#home-button {
    width: 100px;
    font-weight: bold;
    color: #fff;
    padding: 10px;
    border: 4px solid #fff;
    transition: backgroud-color 0.2s ease-out, color 0.2s ease-out;
}

#home-button:hover {
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

#margin {
    margin-top: 15vh;
}