body {
    background: #8E0E00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.btn-secondary {
    background-color: #1F1C18!important;
}

.btn-primary {
    background-color: #8E0E00!important;
}

.btn-outline-secondary {
    color: #1F1C18!important;
    border: 2px solid black!important;
}

input {
    border: 2px solid black!important;
    border-radius: 8px!important;
}

.footer {
    background-color: #fff;
    height: 50px;
}

a {
    color: rgb(121, 183, 204);
}

#notfound {
    font-size: 60px;
    font-weight: bold;
}
