{% extends "base.html.twig" %}

{% block body %}

<div class="container-fluid">
  <p style="color: white; font-size: 40px;">{{cart.user.name}}'s Cart</p>
  <div class="row">
    {% for cartLines in cart.cartLines %}
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="{{cartLines.article.imageURL}}" style="height: 100px; width: 100px;"
            alt="Card image cap">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{cartLines.article.model}}</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <form action="{{path('profile_modify_quantity',{id:cartLines.id})}}">
            <input type="number" type="number" name="quantity" value="{{cartLines.quantity}}">
            <button>Changer quantity</button>
          </form>
          <h5 href="#" class="card-link">Article Price: {{cartLines.article.price}}</h5>
          <a href="{{path('profile_delete_article',{id:cartLines.id})}}">Delete</a>
        </div>
      </div>
  
    </div>
  
  
  
  
  
  
    {% endfor %}
  
    </div>
    
  <p style="color:aliceblue;">Total : {{app.user.cart.getTotal()}} $</p>


  <a href="{{path('command',{cart:app.user.cart.id})}}" class="btn btn-primary">Valider</a>

</div>



{% endblock body %}