{% extends "base.html.twig" %}

{% block body %}

<div class="container-fluid">
    
    <h1 class="text-center text-white">Category Race</h1>

    <div class="row">
        
{% for bike in bikes %}

    
        <div class="col-md-3">
            <div class="card mt-4">
                <div class="card-header">
                    <h2 class="text-center">{{bike.type}}</h2>
                    
                </div>
                <div class="card-body">
                    <p>{{bike.model}}</p>
                    <p>{{bike.price}}</p>
                    <img src="{{bike.imageURL}}" class="card-img-top" alt="">
                    <a href="{{path('one_article', {id:bike.id})}}" class="card-link">More</a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{path('update',{id:bike.id})}}" class="card-link">modify</a>
                    <a href="{{path('delete_article',{id:bike.id})}}" class="card-link">delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
    

{% endfor %}
</div>

</div>
 {% endblock body %}