{% extends 'base.html.twig' %}


{% block title %}Hello AdminController!{% endblock %}



{% block body %}

    <style>
        body{
            color:white;
        }
    </style>


{# <a href="{{path('admin_index')}}" class="btn btn-primary">Return</a> #}

<div class="container mt-4">

    <h1 class="text-white text-center">Add article</h1>
    
    <div class="col-12">

        {{form_start(form)}}
        {{form_widget(form)}}
        <button class="btn btn-primary">Add</button>
        {{form_end(form)}}

    </div>
</div>

{% endblock %}