{% extends 'base.html.twig' %}

{% block stylesheets %}
<link href="{{ asset('style/adminIndex.css') }}" rel="stylesheet" />
{% endblock stylesheets %}

{% block body %}
<style>
    #buttons{
        margin-top: 40px;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6" id="buttons">
            <h1 style="color: white">Welcome to Admin Page</h1>

            <div class="container" align="center">
                <a href="{{path('add_article')}}" class="btn btn-primary">add article</a>

                <a href="{{path('show_articles')}}" class="btn btn-primary">Show Articles</a>

                <form action="{{path('search')}}">

                    <label for="name"> </label>
                    <input type="text" name="search" id="search">

                </form>
            </div>
        </div>
        <div class="col-sm-4" id="buttons">
                <img class="card-img-top" src="http://themes-lab.com/make/admin/assets/global/images/avatars/avatar2_big@2x.png" alt="Card image cap">
        </div>
    </div>
</div>



{% endblock body %}