{% extends "base.html.twig" %}

{% block body %}

{# <a href="{{path('admin_index')}}" class="btn btn-primary">return</a> #}

<div class="container-fluid">
    <div class="row">
        {% for result in resultList %}
    
        <div class="col-md-3">
            <div class="card mt-4">
                <div class="card-body">
                    <img class="card-img-top" src="{{asset(result.imageURL)}}" alt="Card image cap">
                    <h5 class="card-title">{{result.type}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{result.price}}</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                        <h6 class="card-subtitle mb-2 text-muted">{{result.model}}</h6>
                    <a href="{{path('show_one_article', {id:result.id})}}" class="card-link">More</a>
                    <a href="{{path('update',{id:result.id})}}" class="card-link">modify</a>
                    <a href="{{path('delete_article',{id:result.id})}}" class="card-link">delete</a>
                </div>
            </div>    
        </div>
      
      {% endfor %}
      
    </div>
</div>




{% endblock body %}