{% extends "base.html.twig" %}

{% block body %}  
{# <a href="{{path('admin_index')}}" class="btn btn-primary">return</a> #}
{% if is_granted('ROLE_ADMIN') %}
 

{% for article in articleList %}

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <img class="card-img-top" src="{{asset(article.imageURL)}}" alt="Card image cap">
        <h5 class="card-title">{{article.type}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{article.price}}</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
            <h6 class="card-subtitle mb-2 text-muted">{{article.model}}</h6>
        <a href="{{path('show_one_article', {id:article.id})}}" class="card-link">More</a>
        <a href="{{path('update',{id:article.id})}}" class="card-link">modify</a>
        <a href="{{path('delete_article',{id:article.id})}}" class="card-link">delete</a>
    </div>
</div>

{% endfor %}
    
{% endif %}

{% endblock body %} 