{% extends "base.html.twig" %}

{% block stylesheets %}
<link href="{{ asset('style/register.css') }}" rel="stylesheet" />
{% endblock stylesheets %}


{% block body %}
<style>
    label{
        color: black;
    }
</style>
<div class="container mt-4">
   
    <div class="card" id="registerform">
        <div class="card-header">
             <h1 class="heading text-center" id="">Register</h1>
        </div>
        <div " class="card-body">
                {{form_start(form)}}
                {{form_widget(form)}}
                <button type="submit" class="btn btn-secondary">Register</button>
               <br> <small>Redirection to login page.</small>
               
                {{form_end(form)}}
        </div>
       
    </div>
    
</div>
    
{% endblock body %}