{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
<style>
  #each {
    margin-right: 20px;
    margin-left: 75px;
    margin-bottom: 40px;
    margin-top: 20px;
    border-radius: 5px;
  }
  .card {
    overflow: hidden;
    box-shadow: 0 2px 5px 0, 0 2px 10px 0 rgb(255, 255, 255, 0.12);
    -webkit-transition: .25s box-shadow;
    transition: .25s box-shadow;
  }  
  .card:focus,
  .card:hover {
    box-shadow: 0 10px 25px 0 rgb(255, 255, 255, 0.5), 0 4px 15px 0 rgba(243, 79, 50, 0.1);
  }
</style>
{% if is_granted('ROLE_ADMIN') %}
<a href="{{path('add_article')}}" class="btn btn-primary">add article</a>
{% elseif is_granted('ROLE_USER') %}
<a style="float: right" href="{{path('user')}}" class="btn btn-primary">{{ app.user.name }} </a>

<h5 style="color: white;"> See all articles here or choose by category </h5>
{% else %}  
<h2 class="text-white text-center"> See all articles here or choose by category </h2>
{% endif %}
<div class="container-fluid">
  <div class="row">
    {% for article in articleData %}
  
    <div class="col-md-3">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">{{ article.type|e }}</h5>
          <p class="card-text">
            <h>{{ article.model|e }}</h>
          </p>
          <p class="card-text">Price: {{ article.price|e }} $</p>
          <hr class="my-4">
          <p class="lead">
            <img class="card-img-top" src="{{asset(article.imageURL)}}" alt="Card image cap">
            <p>
    
              {% if is_granted('ROLE_ADMIN') %}
              <a href="{{path('update',{id:article.id})}}" class="card-link">modify</a>
              <a href="{{path('delete_article',{id:article.id})}}" class="card-link">delete</a>
              <a href="{{path('show_one_article', {id:article.id})}}" class="card-link">More</a>
              {% elseif is_granted('ROLE_USER') %}
              <a href="{{path('profile_show_one_article', {id:article.id})}}" class="card-link">More</a>
              {# <a href="{{path('one_article', {id:article.id})}}" class="card-link"> Read Comments</a> #}
              {% else %}
              <a href="{{path('one_article', {id:article.id})}}" class="card-link">More</a>
              {# <a href="{{path('one_article', {id:article.id})}}" class="card-link"> Read Comments</a> #}
              {% endif %}
            </p>
          </p>
        </div>
      </div>
    </div>
  
    
  
  
    {% endfor %}
  </div>
</div>

{% endblock %}