{% extends "base.html.twig" %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-8">
        <div class="card">
            <div class="card-body">
                <ul>
                    {% if articleData is not null %}

                    <h5 class="card-title">Bike Type: {{articleData.type}}</h5>

                    <h6 class="card-subtitle mb-2 text-muted">Bike Model: {{articleData.model}}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Price: {{articleData.price}}$</h6>

                    {% else %}

                    <p>There's no article with this ID...</p>

                    {% endif %}

                    <img style="height:300px;" class="card-img-top" src="{{asset(articleData.imageURL)}}"
                        alt="Card image cap">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    

                    {% if is_granted ('ROLE_USER') %}
                    <form action="{{path('add_to_cart',{article:articleData.id})}}" method="POST">
                        
                        <input name="quantity" min="0" type="number">

                        <button>Add to basket</button>
                    </form>
                    {% endif %}

                    <a class="btn btn-primary" href="{{path('home')}}">Back</a>

            </div>
        </div>
        </ul>
    </div>
</div>
<br>
<div class="row justify-content-center">
    <div class="col-8">
        {% if app.user %}
        {{form_start(form)}}
        {{form_widget(form)}}
        <button type="submit" class="btn btn-secondary">Post Comment</button>
        {{form_end(form)}}
        {% endif %}
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-8">
        <h3 style="color:white">Comments :</h3>
        {% for comment in articleData.comments %}
        <div class="comment-container d-inline-block pl-3 align-top col-lg-12">
            <div style="width: 100%; color:white">
                <div class="col-lg-12">
                    <h5 class="card-title col-lg-12">{{ comment.user.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ comment.date|date('d/m/Y')}}</h6>
                    <p class="card-text col-lg-12">{{comment.content}}</p>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-danger" href="{{path('delete_comment', {comment:comment.id}) }}">Delete Comment</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <hr style="border: 1px solid">
        {% endfor %}
    </div>
</div>

{% endblock body %}
