{% extends 'base.html.twig' %}

{% block stylesheets %}
<link href="{{ asset('style/adminIndex.css') }}" rel="stylesheet" />
{% endblock stylesheets %}

{% block body %}
<style>
    #buttons {
        margin-top: 40px;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6" id="buttons">
            <h1 style="color: white">Welcome, {{ app.user.name }}</h1>

            <div class="container" align="center">
                <a href="{{path('update_user')}}" class="btn btn-primary">Update LogIn Credentials</a>

                <a href="" class="btn btn-primary">Your Wishlist</a>
            </div>
        </div>
        <div class="col-sm-6" id="buttons">
            <img class="card-img-top"
                src="http://pluspng.com/img-png/biking-uphill-png-pin-bike-clipart-mountain-biking-9-900.gif"
                alt="Card image cap">
        </div>
    </div>
</div>
{% endblock body %}