{% extends "base.html.twig" %}

{% block stylesheets %}
<link href="{{ asset('style/login.css') }}" rel="stylesheet" />
{% endblock stylesheets %}

{% block body %}
<style>
    label{
        color: black;
    }
</style>

<style>
    label {
        color: black;
        font-weight: bold;
    }
</style>

<div class="container" id="logincontainer">
    <div class="card" id="cardradius">
        <div class="card-header">
            <h1 class="text-center">Login</h1>
        </div>
        <div class="card-body">
            {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <form action="{{ path('login') }}" method="POST">
                <label for="email">Email</label>
                <input type="email" name="_username" id="email" class="form-control">

                <label for="password">Password :</label>
                <input type="password" name="_password" id="password" class="form-control">
                <button class="btn btn-secondary mt-2">Login</button>
            </form>
        </div>
    </div>
</div>



{% endblock body %}