{% extends "base.html.twig" %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-8">
        <div class="card">
            <div class="card-body">
                <ul>
                    {% if articleList is not null %}

                    <h5 class="card-title">Bike Type: {{articleList.type}}</h5>

                    <h6 class="card-subtitle mb-2 text-muted">Bike Model: {{articleList.model}}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Price: {{articleList.price}}$</h6>

                    {% else %}

                    <p>There's no article with this ID...</p>

                    {% endif %}

                    <img style="height:300px;" class="card-img-top" src="{{asset(articleList.imageURL)}}"
                        alt="Card image cap">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>

                    {% if is_granted ('ROLE_USER') %}
                    <form action="{{path('add_to_cart',{article:articleList.id})}}" method="POST">

                        <input name="quantity" min="0" type="number">

                        <button>Add to basket</button>
                    </form>
                    {% endif %}
            </div>
        </div>
        </ul>
    </div>
</div>
<h3 class="col-8 row justify-content-center" style="color:white;padding-right: 202px;margin-bottom: 30px;margin-top: 30px">Comments :</h3>
<div class="row justify-content-center">
    <div class="col-8">
        {% if app.user %}
        {{form_start(form)}}
        {{form_widget(form)}}
        <button type="submit" class="btn btn-secondary">Post Comment</button>
        {{form_end(form)}}
        {% endif %}
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-8">
        <h3 style="color:white">Comments :</h3>
        {% for comment in articleList.comments %}

        <div class="comment-container d-inline-block pl-3 align-top col-lg-12">
            <div style="width: 100%; color:white">
                <div class="col-lg-12">
                    <h5 class="card-title col-lg-12">{{ comment.user.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ comment.date|date('d/m/Y')}}</h6>
                    <p class="card-text col-lg-12">{{comment.content}}</p>
                </div>
            </div>
        </div>
        <hr style="border: 1px solid">
        {% endfor %}
    </div>
</div>

{% endblock body %}