{% extends "base.html.twig" %}

{% block body %}

<div class="container-fluid">
    {% if resultList is empty and not null %}

    <h1 class="heading text-white text-center mt-5" id="notfound">404 NOT FOUND</h1>
    
    <h2 class="text-white">This article doesn't exist.</h2>
    <a href="{{ path('articles')}}" class="btn btn-primary">Back</a>

    
        {% else %}
        <div class="row">
        {% for result in resultList %}
        <div class="col-md-3">
            <div class="card mt-4">
                <div class="card-body">
                    <img class="card-img-top" src="{{result.imageURL}}" alt="Card image cap">
                    <h5 class="card-title">{{result.type}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{result.price}}</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                    <h6 class="card-subtitle mb-2 text-muted">{{result.model}}</h6>
                    <a href="{{path('one_article', {id:result.id})}}" class="card-link">More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
       
    
    {% endif %}
    
    
</div>


{% endblock body %}