{% extends "base.html.twig" %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-6">
        <h2 style="text-align:center; margin-top: 20px; color:white;">Update your login details</h2>
        {{form_start(form)}}
        {{form_start(form.email)}}
        {{form_start(form.password)}}
        {{form_widget(form)}}
        <button class="btn btn-primary" id="btn">Update Details</button>
        <!-- <p>You have successfully created a new article.</p> -->
        {{form_end(form)}}
    </div>
</div>
{% endblock body %}